/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos del encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

/* Estilos de las secciones */
section {
  padding: 20px;
  margin-bottom: 20px;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#p0 {
  color:  blue;
  font-weight: bold;
}
#p2 {
  color: red;
  font-weight: bold;
  }
  
#p1 {
  font-size: 16px;
}

#p1 .verde-subrayado {
  color: green;
  text-decoration: underline;
}

#p1 .rojo {
  color: red;
}

#p1 .subrayado-arriba-abajo {
  text-decoration: underline;
  text-decoration-style: double;
}

#p1 .mayor-tamano {
  font-size: 20px;
}

#p1 .azul {
  color: blue;
}

#p1 .rojo-final {
  color: red;
}

html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit; }
body {
font: 1.2em/1.2 Helvetica, aria, sans-serif;
                                  
 margin: 0 3%; }
h1 {
font-size: 1.8em; margin: .9em 0 0 0;
}
h2 {
font-size: 1.5em;
margin: 1.5em 0 0 0; }
img {
max-width: 100%;
}
figure {
background: black; border-radius: 5px; color: white; margin: 0 0 25px 0; padding: 10px; text-align: center;
                                  
 }

figure {
width: 30%;
margin-right: 2.5%; }
}
table {
    margin: 20px 200px;
    background-color:yellow;
    border: black 1px dotted;  
}
th {
    color: red;
}
td {
    border: black 1px dotted;  
}

table {
    border-collapse: collapse;
}
span {
    font-size: 20px;
}

.span_1 {
    font-size: 10px;
}

#hMarca{
 color: yellow;
    font-size: 20px;
    font-weight: bold; 
}
#hAs{
  color: blueviolet;
  font-size: 20px;
    font-weight: bold;
}
